#iterations = total number of transactions
#duration = durationfor which entire code will run

[pool]
Ispool = True
user = sajal
password = new_password
dsn = localhost/orclpdb
min=50
max=100
increment=10
timeout=15

[transactions]
doThreading=True
num_threads = 10
duration_mins = 0
iterations = 100

[test_cases]
#write weights of test cases in list of tasks

addnewcustomer=0
place_order=0
findcustomer=0
deleting_order=0
deleting_cust=0
update_address=0
delete_item=0
orders_ofcust=0
orders_ofcust_customdate=1
summarise_orders_forcust=1
summarise_orders_forcust_customdate=1

#CRITICAL=50
#ERROR=60
#WARNING=30
#INFO=20
#DEBUG=10
#NOTEST=0

[address]
log_file_direc = C:\Users\sajal\Desktop\VSCodes\BTapplication\log_trace
trace_file_direc = C:\Users\sajal\Desktop\VSCodes\BTapplication\log_trace
##########################################################################
[log_file_handle]
log_level=10
log_format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
log_datefmt=%Y-%m-%d %H:%M:%S
log_filemode=a
##########################################################################
[trace_file_handle]
trace_level=10
trace_format=[%(asctime)s -%(levelname)s: %(filename)s:%(lineno)s - %(funcName)10s %(threadName)s ] %(message)s
trace_datefmt=%Y-%m-%d %H:%M:%S
trace_filemode=a
##########################################################################